* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f5f2;
    color: #333;
}


header {
    background: #4b2e1e;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 23px;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
}

nav a.active,
nav a:hover {
    text-decoration: underline;
}


.about {
    padding: 50px;
}

.about h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.about-content {
    display: flex;
    gap: 40px;
    align-items: center;
}

.about-content img {
    width: 400px;
    border-radius: 10px;
    margin-top: 30px;
}

.text {
    font-size: 18px;
    justify-content: right;
}

.team {
    background: white;
    padding: 50px;
    text-align: center;

}

.team h2 {
    font-size: 2.5rem;
    color: #4b2e1e;
}

.team-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    background: rgb(241, 240, 236);
    padding: 20px;
    width: 220px;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 2px 10px;
    cursor: pointer;

}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    border-radius: 10px;
    border-radius: 10px;
}

.card h3 {
    margin-top: 10px;
}


footer {
    background: #4b2e1e;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}