* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f5f2;
    color: #333;
}


header {
    background: #4b2e1e;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
}


.contact {
    padding: 40px;
}

.contact h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #4b2e1e;
}

.contact-container {
    display: flex;
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}


.contact-info {
    flex: 1;
}

.contact-info h3 {
    margin-bottom: 10px;
    color: #4b2e1e;
}

.contact-info p {
    margin-bottom: 10px;
}
.contact-info input,
.contact-info textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-textarea{
    height: 100px;
}


.contact-info button {
    background: #4b2e1e;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-info button:hover {
    background: #3a2316;
}
.contact-image{
    flex: 1;
    box-shadow: 0;
}

.contact-image img {
    width: 100%;
    border-radius: 8px;
}


footer {
    background: #4b2e1e;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 20px;
}