* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: #5C3A1E;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 23px;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    color: #e97f27;
}

.section {
    position: relative;
    color: white;

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center h2 {
    color: white;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center p {
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    padding: 12px 25px;
    display: block;
    border: none;
    margin: 20px auto;
    border-radius: 5px;
    background: #e97f27;
    color: white;
    text-align: center;
    font-size: 18px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px lightyellow;
}

.specials {
    text-align: center;
    margin: 20px 0 30px;
    color: #5C3A1E;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.cafe {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 30px 0;
    grid-template-columns: repeat(auto-fit, mimax(280px, 1fr));

}

.cafe-card {
    background: white;
    margin: 10px;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px;
    transition: transform 0.3s ease;
}

.cafe-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.cafe-card h3 {
    color: #5C3A1E;
    font-size: 18px;
    text-align: center;
    margin: 5px;
}

.cafe-card p {
    text-align: center;
    margin: 5px;
    color: #666;
}

.book-btn {
    display: block;
    margin: 12px auto 0;
    width: fit-content;

    padding: 8px 18px;
    background: transparent;
    color: #6f4e37;
    font-size: 14px;
    font-weight: 600;

    border: 2px solid #6f4e37;
    border-radius: 20px;

    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.book-btn:hover {
    background: #6f4e37;
    color: #fff;
}

footer {
    background: #5C3A1E;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 20px;
}