body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('https://images.unsplash.com/photo-1509042239860-f550ce710b93');
    background-size: cover;
    background-position: center;
}


.login-box {
    background: rgba(45, 24, 16, 0.85);
    padding: 35px;
    width: 360px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}


.login-box h2 {
    color: #f5d7b2;
    margin-bottom: 5px;
}

.login-box p {
    color: #e0c5a8;
    margin-bottom: 20px;
    font-size: 14px;
}


.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    font-size: 14px;
}


.login-box button {
    width: 100%;
    padding: 12px;
    background: #d28a3c;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.login-box button:hover {
    background: #b8742f;
}


.links {
    margin-top: 15px;
    font-size: 14px;
}

.links a {
    color: #f5d7b2;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}